body {
    background-color: var(--blue-700);
    color: var(--blue-800);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* <------ CONTAINER-FORMULÁRIO ------> */

.container-formulario {
    display: flex;
    justify-content: center;
    background-color: var(--white); 
    max-width: 92.5rem;
    border-radius: 3rem;
    padding: 2.1rem;
}

.container-formulario.escondido {
    display: none;
}

/* <------ TEXTO ------> */

.informacoes-texto .texto {
    padding: 7rem 0 0 4.2rem;
}

.texto .titulo {
    font-size: 5.3rem;
    margin-bottom: 2.5rem;
}

.texto .descricao {
    font-size: 1.6rem;
    margin-bottom: 2.1rem;
    line-height: 2.3rem;
    padding-right: 3rem;
}

.texto .lista-beneficios {
    margin-bottom: 4.3rem;
}

.texto .lista-beneficios img {
    transform: translatey(.5rem);
}

.texto .lista-beneficios span {
    font-size: 1.6rem;
    padding-left: 1.4rem;
}

.texto .lista-beneficios li {
    margin-bottom: 1rem;
}

/* <------ FORMULÁRIO ------> */

.campo-preenchimento {
    display: flex;
    flex-direction: column;
    padding-left: 4.1rem;
}

.campo-preenchimento .texto-formulario {
    display: flex;
    justify-content: space-between;
}

.campo-preenchimento .texto-formulario .mensagem-erro {
    display: block;
    padding-right: 6.5rem;
    color: var(--red);
}
.campo-preenchimento .texto-formulario .mensagem-erro.desativado {
    display: none;
}

.campo-preenchimento span {
    font-size: 1.15rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.campo-preenchimento input {
    width: 37.6rem;
    height: 5.5rem;
    border-radius: 1rem;
    padding: 2.4rem;
    font-size: 1.6rem;
    border: 1px solid var(--grey);
    margin-bottom: 2.5rem;
}

.campo-preenchimento .input-erro {
    background-color: var(--red-input);
    color: var(--red);
    border: 1px solid var(--red);
}

.campo-preenchimento .botao, .container-confirmacao .botao-2 {
    width: 37.6rem;
    height: 5.5rem;
    border-radius: 1rem;
    background-color: var(--blue-800);
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.campo-preenchimento .botao:hover, .container-confirmacao .botao-2:hover {
    background: linear-gradient(to right, var(--pink), var(--orange));
    box-shadow: 0 .5rem 2rem 1rem var(--shadow); 
}

/* <------ CONTAINER-CONFIRMAÇÃO ------> */

.container-confirmacao {
    display: none;
    flex-direction: column;
    background-color: var(--white);
    max-width: 50.5rem;
    padding: 5rem 6.5rem;
    border-radius: 4rem;
}

.container-confirmacao.confirmado {
    display: flex;
}

.container-confirmacao .titulo-2 {
    font-size: 5.3rem;
    line-height: 5.5rem;
    margin-bottom: 3rem;
}

.container-confirmacao img {
    margin-bottom: 3.5rem;
}

.container-confirmacao .mensagem {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-bottom: 3.5rem;
}



