:root {

    --red: hsl(4, 100%, 67%);
    --red-input: hsl(3, 100%, 92%);
    --shadow: hsla(4, 100%, 67%, 0.342);
    --orange: hsla(17, 100%, 56%, 0.795);
    --pink: hsla(345, 100%, 56%, 0.795);
    --blue-800: hsl(234, 29%, 20%);
    --blue-700: hsl(235, 18%, 26%);
    --grey: hsl(0, 0%, 58%);
    --white: hsl(0, 0%, 100%);
}